/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
      
  /* Fixed width container class that will "auto-center" itself */
  .container {
    width: 1200px;
    margin: 0 auto;
  }

  
  /* Buttons */

  .search {
    color: rgb(141, 204, 183);
    border-color: rgb(141, 204, 183);
    border-style: solid;
    background-color: rgb(236, 232, 232);
    margin: 8px;
    display: block;
    padding: 5px 30px;
    border-radius: 20px;
    font-size: 15px;
}

.plus {
    color: antiquewhite;
    border-color: rgb(141, 204, 183);
    border-style: solid;
    background-color: rgb(141, 204, 183);
    margin: 8px;
    display: block;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 20px;
    box-shadow: none;
}

.CreateAccount {
    background-color: dodgerblue;
    border-color: black;
    color: white;
    margin: 8px;
    display: block;
    padding: 5px 30px;
    font-size: 15px;
    box-shadow: 5px 5px black;
}

/* Flexible Columns and Rows */

body{
    margin:0px;
    padding:0px;
}
.row{
    display:flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.col{
    height: 30px;
    flex: 1 1 auto;
    background-color:darkcyan;
    border-color: darkcyan;
    color: white;
    font-family: "Verdana";
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:left;
    line-height: 2;
    display: inline-block;
    margin: 0px 10px;
}
.col:first-child{
    margin-left:0px;
}
.col:last-child{
    margin-right:0px;
}
.col-2{
    height: 30px;
    flex: 2 1 auto;
    background-color:darkcyan;
    border-color: darkcyan;
    color: white;
    font-family: "Verdana";
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align:left;
    line-height: 2;
    display: inline-block;
    margin: 0px 10px;
}
.col-2:first-child{
    margin-left:0px;
}
.col-2:last-child{
    margin-right:0px;
}

/* Flexible Nav-bar */

@font-face {
    font-family: Roboto;
    src: url(./Roboto/Roboto-Regular.ttf);
}
*{
    font-family: "Roboto";
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(52, 51, 51);
    color: white;
    height: 60px;
    width:auto;
}
.nav-title{
    margin-left: 20px;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    margin: 10px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: lightgrey;
}
.btn{
    color: white;
    background-color: rgb(15, 161, 161);
    font-size: large;
    border-style: solid;
    border-color: black;
    box-shadow:5px 5px black;
}
.active{
    color:white;
}